@import "../../../variables.scss";

#left-side {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 5px;
  .user__body__section:not(.service__description__section) {
    width: calc(100% - 60px - 4px) !important;
    border: 2px solid $_2k25-background-hue-50-transparent;
  }
}

.service__quick__actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  .quick__actions {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    .service__status {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      .service__status__header {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;

        .service__activity__text {
          border: 2px solid;
          padding: 5px 10px;
          border-radius: 10px;
          height: fit-content;
          width: fit-content;
          white-space: nowrap;
          &.ACTIVE {
            border: 1px solid $da-secondary-hue;
            background-color: $da-secondary-hue-transparent;
            color: $da-secondary-hue-lighter-2;
          }
          &.INACTIVE {
            border: 1px solid $da-error-hue;
            background-color: $da-error-hue-transparent;
            color: $da-error-hue;
          }
        }
      }

      .service__activity__subtext {
        font-size: 13px;
        opacity: 0.8;
      }
    }
  }
}

.service__activity__display {
  display: flex;
  flex-direction: column !important;
  p {
    margin: 0;
    padding: 0;
  }
}

@keyframes LogsAppears {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.logs__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .logs__table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    gap: 10px;
    thead {
      display: none;
    }
    tbody {
      tr {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      td:not(.log__icon, .log__timestamp) {
        width: 100%;
      }
      .log__icon {
        width: fit-content;
      }
    }
    border: 2px solid $_2k25-background-hue-50-transparent;
    border-radius: 10px;
    overflow: hidden;
  }
  .log__entry:nth-child(even) {
    background-color: $_2k25-background-hue-darker-2;
  }
  .log__entry {
    display: flex;
    padding: 10px 15px;
    flex-direction: row;
    align-items: start;
    background-color: $_2k25-background-hue-darker-transparent;
    gap: 20px;
    border-left: 2px solid transparent;
    transition: 0.3s;
    opacity: 0;
    animation: LogsAppears 0.3s ease forwards;
    &.status--info {
      border-left: 2px solid $da-confirm-hue-darker;
      &:hover {
        background-color: $da-confirm-hue-transparent;
      }
    }
    &.status--warning {
      border-left: 2px solid $da-warning-hue-darker;
      &:hover {
        background-color: $da-warning-hue-transparent;
      }
    }
    &.status--error {
      border-left: 2px solid $da-error-hue-darker;
      &:hover {
        background-color: $da-error-hue-transparent;
      }
    }
    .log__icon {
      svg {
        height: 30px;
        width: 30px;
        fill: $da-secondary-hue-lighter-2;
      }
    }

    .log__timestamp {
      opacity: 0.8;
      white-space: nowrap;
    }
    .log__user {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      max-width: 150px;
      min-width: 150px;
      padding: 5px 10px;
      &.known {
        cursor: pointer;
        transition: 0.3s;
        border-radius: 10px;
        &:hover {
          background-color: $_2k25-background-hue-50-transparent;
        }
      }
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      .log__user__placeholder {
        display: flex;
        flex-direction: column;
        width: calc(100% - 30px - 10px - 10px);
        span {
          white-space: nowrap;
          overflow: hidden;
          max-width: 100%;
          text-overflow: ellipsis;
        }
        .log__user__username {
          opacity: 0.8;
        }
      }
    }
  }
}

@keyframes KeysContainerAppear {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

#right-side {
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1;
  min-height: calc(100vh - 130px - 100px);
  .right__side__header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    .service__quick__actions {
      width: fit-content !important;
      align-items: center !important;
      .quick__actions {
        align-items: center;
        height: 100%;
        flex-wrap: nowrap;
      }
    }
    .user__body__section {
      border: 2px solid $_2k25-background-hue-50-transparent;
    }
    .service__plans {
      width: 100%;
      align-self: stretch;
    }
  }
  .service__overview__tabs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .service__overview__tab__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .service__overview__tab__header {
      h2,
      p {
        margin: 0;
        padding: 0;
      }
      h2 {
        font-weight: bold;
        color: $da-secondary-hue-lighter-2;
      }
      p {
        font-size: 14px;
        opacity: 0.8;
      }
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    #security-data {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .key__container {
        animation: KeysContainerAppear 0.3s ease forwards;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: $_2k25-background-hue-darker-2;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .key__container__header {
          display: flex;
          flex-direction: column;
          gap: 5px;
          h3 {
            margin: 0;
            padding: 0;
            font-weight: bold;
            color: $da-secondary-hue-lighter-2;
            font-size: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            svg {
              height: 20px;
              width: 20px;
              fill: $da-secondary-hue-lighter-2;
            }
          }
          p {
            margin: 0;
            padding: 0;
            font-size: 13px;
            opacity: 0.8;
          }
        }
      }
    }
    .keys__container {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}

.global__loader__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 60%;
  min-width: 50%;
  margin: auto;
}

.service__management__header {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 25px;
  border-radius: 10px;
  background-color: $_2k25-background-hue-darker;
  .service__management__dir {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    user-select: none;
    color: $da-secondary-hue-lighter-2;

    svg {
      height: 16px;
      width: 16px;
      fill: $da-secondary-hue-lighter-2;
    }

    a {
      color: $da-secondary-hue-lighter-2;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .service__management__header__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    h2,
    p {
      margin: 0;
      padding: 0;
    }

    h2 {
      font-weight: bold;
      color: $da-secondary-hue-lighter-2;
    }
    p {
      font-size: 14px;
      opacity: 0.8;
    }
  }
}

.user__body__manage-service {
  .manage__service__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    justify-content: start;
    min-height: 100vh;
    margin-bottom: 10%;
  }

  .service__description__section {
    flex: 1;
    height: 100%;
    align-self: stretch;
    justify-content: space-between;
  }

  .service__storage__section {
    max-width: 350px;
  }

  .service__plans {
    align-items: stretch;
    width: calc(100% - 60px - 2px) !important;
    transition: 0.3s;
  }

  .plans__table {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;

    .table__content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: white;
      width: fit-content;
      width: 100px;

      .table__header {
        opacity: 0.8;
      }

      .table__value {
        font-weight: normal;
      }
    }
  }

  .user__body__section {
    margin: unset !important;
  }

  .service__plan {
    flex: 1;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    .service__plan__body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      .plan__tags {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        .plan__tag {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 7px;
          padding: 5px 10px;
          border-radius: 10px;
          background-color: $_2k25-background-hue-50-transparent;
          font-size: 13px;

          svg {
            height: 16px;
            width: 16px;
            fill: $da-secondary-hue-lighter-2;
          }
        }
      }
      .rps__limitation {
        font-size: 13px;
        opacity: 0.8;
        a {
          color: $da-secondary-hue-lighter-2;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .service__storage {
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;

        .service__storage__usage__text {
          position: absolute;
          right: 5px;
          padding: 3px 7px;
          font-size: 12px;
          top: 0;
          bottom: 0;
          margin: auto;
          height: fit-content;
          background-color: $_2k25-background-hue-darker;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .service__storage__usage {
          width: 100%;
          height: 30px;
          border-radius: 50px;
          background-color: $_2k25-background-hue-transparent;
          overflow: hidden;

          .storage__usage__bar {
            height: 100%;
            border-radius: 50px;
            background-color: $_2k25-text;
          }
        }
      }
    }

    .services__section__content {
      color: white;
    }
  }
}

.security__measures {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .services__section__content {
    display: flex;
    min-height: auto !important;
    flex: unset !important;
    flex-direction: column;

    .service__status {
      min-height: fit-content;

      .service__status__title {
        font-weight: bold;
      }

      .service__status {
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
        height: fit-content;
        width: fit-content;

        &.status-failure {
          background-color: $da-error-hue;
        }

        &.status-success {
          background-color: $da-confirm-hue;
        }
      }
    }

    .service__actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      height: max-content;
      align-items: start;
    }
  }
}

@keyframes NewServicesButtonAppears {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.service__actions__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: start;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  gap: 20px;
  background-color: $_2k25-background-hue-darker;
  padding: 20px 30px;
  &.no-padding {
    padding: 0;
  }
  height: fit-content !important;
  .primary-button {
    animation: NewServicesButtonAppears 0.3s ease forwards;
  }
  .service__actions__buttons {
    display: flex;
    flex-direction: row;
    gap: 5px !important;
    flex-wrap: wrap;
    width: 100%;
    button {
      min-width: calc(100% - 40px) !important;
      justify-content: space-between;
      white-space: nowrap;
      gap: 10px;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: $_2k25-background-hue-50-transparent;
      * {
        transition: 0.3s;
      }
      &:hover {
        background-color: $da-secondary-hue-transparent;
        color: $da-secondary-hue-lighter-2;
        svg {
          transform: translateX(5px);
        }
      }
    }
  }

  .service__actions__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      width: 100%;
    }
  }
}

.service__actions__field__header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  user-select: none;

  .service__actions__field__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    margin: 0;
    padding: 0;
    color: $da-secondary-hue-lighter-2;
    svg {
      height: 24px;
      width: 24px;
      fill: $da-secondary-hue-lighter-2;
    }
    img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    opacity: 0.8;
  }
}
