@import "../../../../variables.scss";

.service__network__component {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

#left,
#right {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid $_2k25-background-hue-50-transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  background-color: $_2k25-background-hue-darker-2;

  .footer__informations {
    font-size: 10px;
    opacity: 0.7;
    text-align: center;
  }
}

#left {
  max-width: 30%;
  height: fit-content;
}
#right {
  width: 70%;
  .network__traffic__placeholder {
    width: calc(100% - 20px);
    background-color: rgba(255, 255, 255, 0.05);
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    align-items: center;
    justify-content: center;

    .network__information__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }

    .network__information {
      padding: 5px 10px;
      text-align: center;
      border: 1px solid;
      font-size: 13px;
      width: calc(100% - 22px);
      border-radius: 5px;
      p {
        margin: 0;
      }
      &.normal {
        border-color: $da-confirm-hue;
        background-color: $da-confirm-hue-transparent;
        color: $da-confirm-hue;
      }
      &.warning {
        border-color: $da-warning-hue;
        background-color: $da-warning-hue-transparent;
        color: $da-warning-hue;
      }
      &.shutdown {
        border-color: $da-error-hue;
        background-color: $da-error-hue-transparent;
        color: $da-error-hue;
      }
    }
  }
}
.network__components {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  .network__component {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    align-self: stretch;
    width: calc(100% - 20px);
    border: 2px solid $_2k25-background-hue-50-transparent;

    .network__component__header {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: start;
      h4 {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .network__component__body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .information__container {
        display: flex;
        flex-direction: column;
        .component {
          display: flex;
          flex-direction: row;
          gap: 10px;
          p {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            border-radius: 10px;
            border: 2px solid $_2k25-background-hue-50-transparent;
            width: calc(100% - 20px - 4px);
          }
        }
      }
    }
  }
}
