@import "../../../variables.scss";

.nass__account__page_user__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .user__body__section {
    background-color: $_2k25-background-hue-darker;
    padding: 20px 30px;
    border-radius: 20px;
    width: fit-content;
    .body__section__title {
        text-transform: uppercase;
    }
  }
}
