@import "../../../variables.scss";

.nass__account__page_user__body {
  .user__body__header {
    .profile-picture {
      padding: 5px;
      background-color: $_2k25-background-hue-darker;
      border-radius: 50%;
      width: 75px;
      height: 75px;
    }
  }
}
